<h3>Please make the necessary changes to {{whosit.name}} in the form below.</h3>

<form id="updateWhosit" action="/whosit" method="post">
	<fieldset>
		<legend>Update Whosit Entry</legend>
		<label for="whositName">Name of Whosit: </label>
		<input id="whositName" type="text" name="name" value="{{whosit.name}}" maxlength="100"><br>
		<label for="whositHome">Home of Whosit: </label>
		<select id="whositHome" name="home">
            {{#each wheresit}}
            <option value="{{id}}">{{name}}</option>
            {{/each}}
		</select><br>
		<label for="destiny">Destiny of Whosit: </label>
		<select id="destiny" name="destiny">
            {{#each whysit}}
            <option value="{{id}}">{{description}}</option>
            {{/each}}
		</select><br>		
	</fieldset>
</form>
<button onclick="updateWhosit({{whosit.id}})">Update</button>
<script defer>selectWheresit({{whosit.home}});</script>
<script defer>selectWhysit({{whosit.destiny}});</script>
