<h1>The Whosits of Generic</h1>
<h3>Current Whosits</h3>
<table>
  <thead> 
      <th>Name</th> 
      <th>Home</th> 
      <th>Destiny</th>
  </thead>
  <tbody>
      {{#each whosit}} 
      <tr> 
          <td>{{whositName}}</td> 
          <td>{{whositHome}}</td> 
          <td>{{destiny}}</td>
          <td><form action="/update"><button name="submitUpdate" value="{{whositID}}" id="updateButton">Update</button></form></td>
          <td><form><button name="submitDelete" value="{{whositID}}" id="deleteButton" onclick="deleteMe({{whositID}})">Delete</button></form></td>
      </tr> 
      {{/each}} 
  </tbody>
</table>
<br><br>
<form>
	<fieldset>
		<legend>Enter information for a new Whosit</legend>

		<label for="whositName">Name of Whosit: </label>
		<input id="whositName" type="text" name="whositName" maxlength="100" required>

		<br>

		<label for="whositHome">Home of Whosit: </label>
		<select id="whositHome" name="whositHome" required>
			<option value="">Choose a Wheresit</option>
			{{#each wheresit}}
      <option value="{{wheresitID}}">{{wheresitName}}</option>
      {{/each}}
		</select>

		<br>

		<label for="destiny">Destiny of Whosit: </label>
		<select id="destiny" name="destiny" required>
			<option value="">Choose a destiny</option>
			{{#each whysit}}
      <option value="{{whysitID}}">{{whysitDescription}}</option>
      {{/each}}
		</select>

		<br><br>

		<input type="submit" name="whositSubmit">
	</fieldset>
</form>