<h1>The Whosits of Generic</h1>
<p>The Whosits are the inhabitants of Generic. Each Whosit has one home, or Wheresit, and one destiny, or Whysit.</p>
<h3>Current Whosits</h3>
<form>
    <label for="filter">Filter by Home: </label>
    <select id="filter" name="filter" required>
      <option value="">Choose a Wheresit</option>
      <option value="1">Place 1</option>
      <option value="2">Place 2</option>
      <option value="3">Place 3</option>
      {{#each wheresit}}
      <option value="{{wheresitID}}">{{wheresitName}}</option>
      {{/each}}
    </select>

    <input type="submit" name="filterSubmit" value="filter">
</form>
<br>
<table>
  <thead> 
      <th>Name</th> 
      <th>Home</th> 
      <th>Destiny</th>
  </thead>
  <tbody>
      <tr> 
          <td>Who1</td> 
          <td>Place1</td> 
          <td>Save the world</td>
          <td><form action="/update.html"><button name="submitUpdate" value="{{whositID}}" id="updateButton">Update</button></form></td>
          <td><form><button name="submitDelete" value="{{whositID}}" id="deleteButton" onclick="deleteMe({{whositID}})">Delete</button></form></td>
      </tr>
      <tr> 
          <td>Who2</td> 
          <td>Place2</td> 
          <td>Go to space</td>
          <td><form action="/update.html"><button name="submitUpdate" value="{{whositID}}" id="updateButton">Update</button></form></td>
          <td><form><button name="submitDelete" value="{{whositID}}" id="deleteButton" onclick="deleteMe({{whositID}})">Delete</button></form></td>
      </tr>
      <tr> 
          <td>Who3</td> 
          <td>Place3</td> 
          <td>Destroy the world</td>
          <td><form action="/update.html"><button name="submitUpdate" value="{{whositID}}" id="updateButton">Update</button></form></td>
          <td><form><button name="submitDelete" value="{{whositID}}" id="deleteButton" onclick="deleteMe({{whositID}})">Delete</button></form></td>
      </tr>
      {{#each whosit}} 
      <tr> 
          <td>{{whositName}}</td> 
          <td>{{whositHome}}</td> 
          <td>{{destiny}}</td>
          <td><form action="/update.html"><button name="submitUpdate" value="{{whositID}}" id="updateButton">Update</button></form></td>
          <td><form><button name="submitDelete" value="{{whositID}}" id="deleteButton" onclick="deleteMe({{whositID}})">Delete</button></form></td>
      </tr> 
      {{/each}} 
  </tbody>
</table>
<br><br>
<form>
	<fieldset>
		<legend>Enter information for a new Whosit</legend>

		<label for="whositName">Name of Whosit: </label>
		<input id="whositName" type="text" name="whositName" maxlength="100" required>

		<br>

		<label for="whositHome">Home of Whosit: </label>
		<select id="whositHome" name="whositHome" required>
			<option value="">Choose a Wheresit</option>
      <option value="1">Place 1</option>
      <option value="2">Place 2</option>
      <option value="3">Place 3</option>
			{{#each wheresit}}
      <option value="{{wheresitID}}">{{wheresitName}}</option>
      {{/each}}
		</select>

		<br>

		<label for="destiny">Destiny of Whosit: </label>
		<select id="destiny" name="destiny" required>
      <option value="">Choose a Whysit</option>
      <option value="1">Save the world</option>
      <option value="2">Go to space</option>
			<option value="3">Destroy the world</option>
			{{#each whysit}}
      <option value="{{whysitID}}">{{whysitDescription}}</option>
      {{/each}}
		</select>

		<br><br>

		<input type="submit" name="whositSubmit" value="Add Whosit">
	</fieldset>
</form>